<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="370a6209172d4c81a21b8ffad73e15a7" class="chart-container" style="width:300px; height:360px; "></div>
    <script>
        var chart_370a6209172d4c81a21b8ffad73e15a7 = echarts.init(
            document.getElementById('370a6209172d4c81a21b8ffad73e15a7'), 'white', {renderer: 'canvas'});
        var option_370a6209172d4c81a21b8ffad73e15a7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5664d2",
        "#1cbb8c",
        "#fcb92c",
        "#ff3d60",
        "#4aa3ff",
        "#343a40",
        "#f06292",
        "#8d6e63"
    ],
    "series": [
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "1",
                    "value": 19.7
                },
                {
                    "name": "2",
                    "value": 26.8
                },
                {
                    "name": "3",
                    "value": 19.5
                },
                {
                    "name": "4",
                    "value": 2.7
                },
                {
                    "name": "5",
                    "value": 95.0
                },
                {
                    "name": "6",
                    "value": 92.6
                },
                {
                    "name": "7",
                    "value": 109.4
                },
                {
                    "name": "8",
                    "value": 35.1
                }
            ],
            "radius": [
                "40%",
                "75%"
            ],
            "center": [
                "62%",
                "55%"
            ],
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": "{d}%"
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "xAxisIndex": 0,
            "yAxisIndex": 0
        }
    ],
    "legend": [
        {
            "data": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8"
            ],
            "selected": {},
            "show": true,
            "left": "2%",
            "top": "0%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "pin",
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": false,
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "top": "3%",
            "bottom": "10%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "shadowOffsetX": 0,
            "shadowOffsetY": 0
        }
    ]
};
        chart_370a6209172d4c81a21b8ffad73e15a7.setOption(option_370a6209172d4c81a21b8ffad73e15a7);
    </script>
</body>
</html>
