<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="71ba62b01dc743ff868ee39380329131" class="chart-container" style="width:1120px; height:400px; "></div>
    <script>
        var chart_71ba62b01dc743ff868ee39380329131 = echarts.init(
            document.getElementById('71ba62b01dc743ff868ee39380329131'), 'white', {renderer: 'canvas'});
        var option_71ba62b01dc743ff868ee39380329131 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5664d2",
        "#1cbb8c",
        "#fcb92c",
        "#ff3d60",
        "#4aa3ff",
        "#343a40",
        "#f06292",
        "#8d6e63",
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "1",
            "legendHoverLink": true,
            "data": [
                49.6,
                12.0,
                91.6,
                16.4,
                136.7,
                33.3,
                184.1,
                19.7
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2",
            "legendHoverLink": true,
            "data": [
                55.7,
                15.0,
                98.9,
                20.1,
                142.5,
                34.8,
                188.8,
                26.8
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "3",
            "legendHoverLink": true,
            "data": [
                49.0,
                11.2,
                95.5,
                11.6,
                127.2,
                25.9,
                164.0,
                19.5
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "4",
            "legendHoverLink": true,
            "data": [
                39.2,
                6.2,
                81.7,
                3.7,
                123.5,
                6.0,
                170.7,
                2.7
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "5",
            "legendHoverLink": true,
            "data": [
                66.5,
                45.9,
                108.8,
                65.0,
                151.1,
                93.5,
                199.7,
                95.0
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "6",
            "legendHoverLink": true,
            "data": [
                57.4,
                51.4,
                104.3,
                61.5,
                137.8,
                91.7,
                202.6,
                92.6
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "7",
            "legendHoverLink": true,
            "data": [
                68.2,
                53.8,
                116.6,
                63.9,
                154.0,
                92.6,
                192.0,
                109.4
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "8",
            "legendHoverLink": true,
            "data": [
                65.8,
                17.5,
                113.0,
                15.8,
                153.7,
                34.8,
                206.8,
                35.1
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "35%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "barBorderRadius": [
                        5,
                        5,
                        0,
                        0
                    ]
                }
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "1",
                "2",
                "3",
                "4",
                "5",
                "6",
                "7",
                "8"
            ],
            "selected": {},
            "show": true,
            "top": "bottom",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "circle",
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 10,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 0,
                "margin": 8,
                "fontSize": 12
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u73b0\u884c\u65b9\u6848\n\u4efb\u52a1\u657080",
                "\u65b0\u65b9\u6848\n\u4efb\u52a1\u657080",
                "\u73b0\u884c\u65b9\u6848\n\u4efb\u52a1\u6570120",
                "\u65b0\u65b9\u6848\n\u4efb\u52a1\u6570120",
                "\u73b0\u884c\u65b9\u6848\n\u4efb\u52a1\u6570160",
                "\u65b0\u65b9\u6848\n\u4efb\u52a1\u6570160",
                "\u73b0\u884c\u65b9\u6848\n\u4efb\u52a1\u6570200",
                "\u65b0\u65b9\u6848\n\u4efb\u52a1\u6570200"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u65f6\u95f4/min",
            "show": true,
            "scale": false,
            "nameLocation": "center",
            "nameGap": 30,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u654f\u611f\u6027\u5206\u6790",
            "target": "blank",
            "subtext": "\u53c9\u8f66\u7b49\u5f85\u65f6\u95f4",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_71ba62b01dc743ff868ee39380329131.setOption(option_71ba62b01dc743ff868ee39380329131);
    </script>
</body>
</html>
